<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />   
<meta name="viewport" content="width=1024" />
<title>关于_我的网站</title>
<meta name="keywords" content="这里填写关键词" />
<meta name="description" content="这里填写描述" />      
<link rel="stylesheet" href="/static/css/style11.css" type="text/css" media="all" />
<!--[if lt IE 9]><script type="text/javascript" src="../js/html5.js"></script><![endif]-->
</head>
<body>



<header>
	<div id="navbg"></div>
	<div class="wrapper">
        <h1 class="logo">
			<span style="font-size:25px;font-weight:bold;color:white;">北京邮电大学信息安全中心</span>
		</h1>
		<nav>
			<ul>
	        <li class="home"><a href="/index" >首页</a></li>
                <li class="client"><a href="/blocks">区块列表</a></li>
		<li class="service"><a href="/CF_projects">众筹项目</a></li>
                <li class="cases"><a href="/wallet">我的钱包</a></li>
                <li class="about"><a href="/action">创建交易</a></li>
                <li class="about"><a href="/about">关于我们</a></li>
			</ul>
		</nav>
        	</div>
</header>
<!-- 查找最顶级栏目  -->
<section id="single">
	<!-- 查找子栏目  -->
	<div class="cat_title">
		<div class="wrapper">
			<h2><strong>ABOUT</strong>关于我们</h2>
			<p>我们是谁？<br/>Who are we?</p>
		</div>
	</div>
	<div class="category">
		<div class="wrapper">
			<h1>北京邮电大学</h1>
            
            <ul class="catbtn">
            
			</ul>
		</div>
	</div>
<font size="+1">
	<article class="serv_detailed">
		<div id="detailed">
		<p class="t4"><b>[信息安全中心的介绍]</b></p>
<div class="t4Content">
<ul>
<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;北京邮电大学信息安全研究中心成立于1985年，现拥有国务院学位委员会正式批准的“密码学”博士后流动站，是“密码学”和“信息安全”两个学科的博士学位和硕士学位授予点。现有6人，其中博士生导师5人，硕士生导师1人。拥有首批长江学者特聘教授1人，杰青1人，教育部新世纪优秀人才2人，全国百篇优秀博士学位论文获得者1人。中心在读硕士、博士及博士后研究人员近40余人。中心在杨义先教授的带领下，建立了完善的教学、科研、成果转化、企业孵化的科研生态链。</li>
<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;信息安全中心的使命是培养网络空间安全方面的人才，追求理论与技术创新，承担国家相应科研项目，为保护国家网络空间安全作出贡献。中心的主要研究方向包括现代密码理论、下一代网络/未来互联网安全、群智能算法与复杂网络安全研究、量子密码理论及量子网络安全等。</li>
</ul>
</div>
<p class="t4"><b>[人员介绍]</b></p>
<div class="t4Content">
<ul>

<li>杨义先：北京邮电大学教授、博导，首届长江学者特聘教授、首届国家杰出青年基金获得者、国家级教学团队“信息安
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;全”带头人、
全国百篇优秀博士学位论文导师。现任北京邮电大学信息安全中心主任、灾备技术国家工程实验室主
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;任、公共大数据国家重点实验室（筹）主任、
中国密码学会副理事长。长期从事网络与信息安全方面的科研工作。</li>

<li>李丽香：北京邮电大学教授，博士生导师，主要从事复杂网络、大数据信息处理、数字虚拟资产安全和群体智能方面的科研
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;和教学工作。已发表SCI学术论文100余篇，出版学术著作1部。</li>
<li>王励成：北京邮电大学副教授，博士生导师，主要从事非交换密码、配对密码、格密码、电子货币方面的科研和教学工作。
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;已发表SCI学术论文60余篇。</li>
<li>曾晶晶：北京邮电大学信息安全在读硕士，曾就职于启明星辰、绿盟科技从事网络安全产品研发工作。主要研究领域为网络
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;攻防、电子货币。</li>
<li>周李京：北京邮电大学信息安全博士研究生。主要研究区块链、电子货币、高效哈希函数等方向。</li>
</ul>
</div>
        </div>
		<div id="case_footer"></div>
	</article>
</section>
</font>
<footer>

  <div id="footerlink">
			<nav class="wrapper">
				<!-- <a href="index.htm" >首页</a> -->
			</nav>
		</div>
  <div id="footerinfo">
    <div class="wrapper">
				<h2>联系我们<strong>Contact</strong></h2>
				<p>

					&nbsp;&nbsp;&nbsp;&nbsp;电话：010-62282264<br/>                                       
                                        &nbsp;&nbsp;&nbsp;&nbsp;电子邮件：lixiang@bupt.edu.cn<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;公司地址：北京市海淀区西土城路10号北京邮电大学新科研楼<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;Copyright © 2016 - 2017 zhanghao All rights reserved. 
				</p>
				<img src="static/img/images/map.png" id="homemap" width="258" height="190" alt="公司位置" />
			</div>
  </div>
</footer>
</body>
</html>
