<!DOCTYPE html><html>
<head>
    <title>众筹币</title>
    

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="static/css/overrides.min.css">
<script async="" src="static/js/analytics.js"></script>
<script src="static/js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
<!-- <script src="static/js/shared.min.js" type="text/javascript"></script> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<script src="static/analytics.js"></script>
<link rel="stylesheet" href="static/css/stylesheet.css">

    <script type="text/javascript" src="static/charts/highcharts.js"></script>
    <script type="text/javascript" src="static/slick.min.js"></script>
    <script type="text/javascript" src="static/js/homepage.min.js"></script>

    <meta name="Description" content="Discover the world's most popular Bitcoin wallet. View detailed information and charts on all Bitcoin transactions and blocks. Visit today.">

    <!-- <link rel="canonical" href="https://blockchain.info"> -->
    <link rel="stylesheet" href="static/css/blockchain.css">
<style type="text/css"> .adv{display: none;} .basic{display: inherit;} </style>




<!-- time js -->


</head>
<body>
<div role="navigation" class="navbar navbar-default navbar-inverse bc-header bc-public-header news" style="border-radius:0px; border: 0px;">
    
    <div class="container container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header flex-between">
        <a class="navbar-brand" href="./index"><h1>众筹币</h1></a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar-collapse collapse bg-blue" id="navbar-1">
        <ul class="nav navbar-nav navbar-left">
			<li class="item"><a href="./index" title="Bitcoin Wallet" class="upper">首页</a></li>
			<li class="item"><a href="./blocks" title="Bitcoin Wallet" class="upper">区块列表</a></li>
			<li class="item"><a href="./CF_projects" title="Bitcoin Charts" class="upper">众筹项目</a></li>
			<li class="item"><a href="./wallet" title="Bitcoin Stats" class="upper">我的钱包</a></li>
			<li class="item"><a href="./action" title="Bitcoin Stats" class="upper">创建交易</a></li>
			<li class="item"><a href="./about" title="Bitcoin Stats" class="upper">关于我们</a></li>
			
        </ul>
        
          <ul class="nav navbar-nav navbar-right hidden-sm">
            <li class="hidden-md">
              <form action="./search" method="GET" class="bc-form navbar-search">
                <div class="group">
                  <div class="item search">
                    <input placeholder="搜索" name="search" id="header-search" type="text">
                    <i class="icon-search"></i>
                  </div>
                </div>
              </form>
            </li>
          </ul>
        
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </div> 

  <section id="single" class="container container-fake">
	<!-- 查找子栏目  -->
	<div class="cat_title">
		<div class="wrapper">
			<h2><strong>ABOUT</strong>关于我们</h2>
			<p>我们是谁？<br/>Who are we?</p>
		</div>
	</div>
	<div class="category">
		<div class="wrapper">
			<h1>北京邮电大学</h1>
            
            <ul class="catbtn">
            
			</ul>
		</div>
	</div>
<font size="+1">
	<article class="serv_detailed">
		<div id="detailed">
		<p class="t4"><b>[信息安全中心的介绍]</b></p>
<div class="t4Content">
<ul>
<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;北京邮电大学信息安全研究中心成立于1985年，现拥有国务院学位委员会正式批准的“密码学”博士后流动站，是“密码学”和“信息安全”两个学科的博士学位和硕士学位授予点。现有6人，其中博士生导师5人，硕士生导师1人。拥有首批长江学者特聘教授1人，杰青1人，教育部新世纪优秀人才2人，全国百篇优秀博士学位论文获得者1人。中心在读硕士、博士及博士后研究人员近40余人。中心在杨义先教授的带领下，建立了完善的教学、科研、成果转化、企业孵化的科研生态链。</li>
<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;信息安全中心的使命是培养网络空间安全方面的人才，追求理论与技术创新，承担国家相应科研项目，为保护国家网络空间安全作出贡献。中心的主要研究方向包括现代密码理论、下一代网络/未来互联网安全、群智能算法与复杂网络安全研究、量子密码理论及量子网络安全等。</li>
</ul>
</div>
<p class="t4"><b>[人员介绍]</b></p>
<div class="t4Content">
<ul>

<li>杨义先：北京邮电大学教授、博导，首届长江学者特聘教授、首届国家杰出青年基金获得者、国家级教学团队“信息安
全”带头人、
全国百篇优秀博士学位论文导师。现任北京邮电大学信息安全中心主任、灾备技术国家工程实验室主
任、公共大数据国家重点实验室（筹）主任、
中国密码学会副理事长。长期从事网络与信息安全方面的科研工作。</li>

<li>李丽香：北京邮电大学教授，博士生导师，主要从事复杂网络、大数据信息处理、数字虚拟资产安全和群体智能方面的科研
和教学工作。已发表SCI学术论文100余篇，出版学术著作1部。</li>
<li>王励成：北京邮电大学副教授，博士生导师，主要从事非交换密码、配对密码、格密码、电子货币方面的科研和教学工作。
已发表SCI学术论文60余篇。</li>
<li>曾晶晶：北京邮电大学信息安全在读硕士，曾就职于启明星辰、绿盟科技从事网络安全产品研发工作。主要研究领域为网络
攻防、电子货币。</li>
<li>周李京：北京邮电大学信息安全博士研究生。主要研究区块链、电子货币、高效哈希函数等方向。</li>
</ul>
</div>
        </div>
		<div id="case_footer"></div>
	</article>
</section>
</font>
  
  
  

<div class="footer pv-10 ph-10" data-symbol-local="{&quot;symbol&quot;:&quot;$&quot;,&quot;code&quot;:&quot;USD&quot;,&quot;symbolAppearsAfter&quot;:false,&quot;name&quot;:&quot;U.S. dollar&quot;,&quot;local&quot;:true,&quot;conversion&quot;:53811.17658138}" data-symbol-btc="{&quot;symbol&quot;:&quot;BTC&quot;,&quot;code&quot;:&quot;BTC&quot;,&quot;symbolAppearsAfter&quot;:true,&quot;name&quot;:&quot;Bitcoin&quot;,&quot;local&quot;:false,&quot;conversion&quot;:100000000.00000000}">
      <div class="container">
	  <div class="col-md-8 col-sm-12 col-xs-12 pln pt-60">
        <h2>联系我们<strong>Contact</strong></h2>
				<p class="mrl ls-label uppercase medium-blue">

					&nbsp;&nbsp;&nbsp;&nbsp;电话：010-62282264<br/>                                       
                    &nbsp;&nbsp;&nbsp;&nbsp;电子邮件：lixiang@bupt.edu.cn<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;公司地址：北京市海淀区西土城路10号北京邮电大学新科研楼<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;Copyright © 2016 - 2017 zhanghao All rights reserved. 
				</p>
	  
	  
	  </div>
	  
	  <div class="col-md-4 col-sm-12 col-xs-12 prn pt-60 right-align">
          <img src="static/img/images/map.png" id="homemap" width="316" height="95" alt="公司位置" />
          
        </div>
		</div>
	  
	  
	  
	  
      
    </div>

</body>

</html>

