<!DOCTYPE html><html>
<head>
    <title>Block Explorer - Blockchain</title>
    

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="static/css/overrides.min.css">
<script async="" src="static/js/analytics.js"></script>
<script src="static/js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
<script src="static/js/shared.min.js" type="text/javascript"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<script src="static/analytics.js"></script>
<link rel="stylesheet" href="static/css/stylesheet.css">

    <script type="text/javascript" src="static/charts/highcharts.js"></script>
    <script type="text/javascript" src="static/slick.min.js"></script>
    <script type="text/javascript" src="static/js/homepage.min.js"></script>

    <meta name="Description" content="Discover the world's most popular Bitcoin wallet. View detailed information and charts on all Bitcoin transactions and blocks. Visit today.">

    <!-- <link rel="canonical" href="https://blockchain.info"> -->
    <link rel="stylesheet" href="static/css/blockchain.css">
<style type="text/css"> .adv{display: none;} .basic{display: inherit;} </style>

<!-- form css -->
<script src="static/js/prototype.js" type="text/javascript"></script>
<script src="static/js/effects.js" type="text/javascript"></script>
<script type="text/javascript" src="static/js/validation.js"></script>
<script type="text/javascript">
//<![CDATA[
<!--
// Alternative Style: Working With Alternate Style Sheets
// http://www.alistapart.com/articles/alternate/
function setActiveStyleSheet(title) {
var i, a, main;
for(i=0; (a = document.getElementsByTagName("link")[i]); i++) {
if(a.getAttribute("rel").indexOf("style") != -1 && a.getAttribute("title")) {
a.disabled = true;
if(a.getAttribute("title") == title) a.disabled = false;
}
}
}
//-->
//]]>
</script>
<link title="style1" rel="stylesheet" href="static/css/style.css" type="text/css" />
<link title="style2" rel="alternate stylesheet" href="static/css/style2.css" type="text/css" />
<link title="style3" rel="alternate stylesheet" href="static/css/style3.css" type="text/css" />



<!-- time js -->


</head>
<body>
<div role="navigation" class="navbar navbar-default navbar-inverse bc-header bc-public-header" style="border-radius:0px; border: 0px;">
    
    <div class="container container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header flex-between">
        <a class="navbar-brand" href="./blocks"><img id="logo" src="static/white-blockchain.svg" alt="Bitcoin block explorer and currency statistics"></a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar-collapse collapse bg-blue" id="navbar-1">
        <ul class="nav navbar-nav navbar-left">
			<li class="item"><a href="./index" title="Bitcoin Wallet" class="upper">首页</a></li>
			<li class="item"><a href="./blocks" title="Bitcoin Wallet" class="upper">区块列表</a></li>
			<li class="item"><a href="./CF_projects" title="Bitcoin Charts" class="upper">众筹项目</a></li>
			<li class="item"><a href="./wallet" title="Bitcoin Stats" class="upper">我的钱包</a></li>
			<li class="item"><a href="./action" title="Bitcoin Stats" class="upper">创建交易</a></li>
			<li class="item"><a href="./index" title="Bitcoin Stats" class="upper">关于我们</a></li>
			<li class="item"><a href="./index" title="Bitcoin Stats" class="upper">联系我们</a></li>
        </ul>
        
          <ul class="nav navbar-nav navbar-right hidden-sm">
            <li class="hidden-md">
              <form action="./search" method="GET" class="bc-form navbar-search">
                <div class="group">
                  <div class="item search">
                    <input placeholder="搜索" name="search" id="header-search" type="text">
                    <i class="icon-search"></i>
                  </div>
                </div>
              </form>
            </li>
          </ul>
        
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </div> 
{% block content %}{% endblock %}

</body>

</html>

