{% extends "base.html" %}
{% block content %}
  <div class="container">
    

    

    <div class="flex-row flex-center flex-between upper em-500 mt-20 mb-15">
      <span class="f-24">众筹项目列表</span>
      <a class="f-16" href="./CF_projects"><b class="flex-center mr-5">查看更多 <i class="icon-right_arrow ml-10"></i></b></a>
    </div>
    <div class="row-fluid row">
        <div class="col-md-12">
            <table class="table table-striped" id="projects">
                <tbody><tr>
                    <th>项目id</th>
                    <th>筹款地址</th>
                    <th class="hidden-xs">目标金额</th>
                    <th class="hidden-xs">开始时间</th>
                    <!-- <th class="hidden-xs">Relayed By</th> -->
                    <th class="hidden-xs">结束时间</th>
					<th class="hidden-xs">已筹款</th>
					<th class="hidden-xs">筹款进度</th>
					<th class="hidden-xs">查看证书</th>
                </tr>

                
                {% for project in projects %}
                    <tr id="bi-{{project.id}}">
                        <td><a href="./CF_project_detail?CF_project_id={{project.cf_id}}">{{project.cf_id}}</a>
                        </td>
                        <td class="hidden-xs">{{project.pubkey}}</td>
                        <td class="hidden-xs">{{project.target_amount}} CFC</td>
						<td class="hidden-xs">{{project.start_time}}</td>
						<td class="hidden-xs">{{project.end_time}}</td>
						<td class="hidden-xs">{{project.target_amount - project.lack_amount}} CFC</td>
                        <td class="hidden-xs">{{project.progress_rate}}</td>
						{% if project.cert %}
						<td class="hidden-xs"></td>
						{% else %}
						<td class="hidden-xs"></td>
						{% endif %}
                        
                        <!-- <td class="hidden-xs">
                            
                                
                                    <a href="./projects/cfcoin.com">cfcoin.com</a>
                                
                                
                            

                        </td> -->
                        
                    </tr>
                
                 {% endfor %}   
                
                    
                
            </tbody></table>
        </div>
    </div>
    
  </div>
  
  
  
  
 {% endblock %} 
  
 