<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />   
<meta name="viewport" content="width=1024" />
<title>联系_我的网站</title>
<meta name="keywords" content="这里填写关键词" />
<meta name="description" content="这里填写描述" />   
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<!--[if lt IE 9]><script type="text/javascript" src="../js/html5.js" ></script><![endif]-->
</head>
<body>

<header>
	<div id="navbg"></div>
	<div class="wrapper">
        <h1 class="logo">
			<span style="font-size:25px;font-weight:bold;color:white;">网络与交换技术国家重点实验室</span>
		</h1>
		<nav>
			<ul>
	        <li class="home"><a href="index.htm" >首页</a></li>
                <li class="client"><a href="index.htm">区块列表</a></li>
		<li class="service"><a href="index.htm">众筹项目</a></li>
                <li class="cases"><a href="index.htm">我的钱包</a></li>
                <li class="about"><a href="about.htm">关于我们</a></li>
                <li class="about"><a href="contact.htm" title="关于我们">联系我们</a></li>
			</ul>
		</nav>
        	</div>
</header>
<!-- 查找最顶级栏目  -->
<section id="single">
	<!-- Ŀ  -->
	<div class="cat_title">
		<div class="wrapper">
			<h2><strong>CONTACT</strong>联系</h2>
			<p></p>
		</div>
	</div>
	<div class="category">
		<div class="wrapper">
			<h1>联系方式</h1>
		</div>
	</div>
	<article>	
		<div class="wrapper" id="detailed">
			<span style="font-size:20px;"><span style="color: rgb(102, 102, 102); font-family: 'Microsoft YaHei', 'Segoe UI', Tahoma, Arial, Verdana, sans-serif; text-align: justify; font-weight: bold;">北京邮电大学</span></span><br style="color: rgb(102, 102, 102); font-family: 'Microsoft YaHei', 'Segoe UI', Tahoma, Arial, Verdana, sans-serif; line-height: 21px; text-align: justify;" />
<br style="color: rgb(102, 102, 102); font-family: 'Microsoft YaHei', 'Segoe UI', Tahoma, Arial, Verdana, sans-serif; line-height: 21px; text-align: justify;" />
<font size="+1">
<span style="color: rgb(102, 102, 102); font-family: 'Microsoft YaHei', 'Segoe UI', Tahoma, Arial, Verdana, sans-serif; line-height: 21px; text-align: justify;">电话：010-62282264</span><br style="color: rgb(102, 102, 102); font-family: 'Microsoft YaHei', 'Segoe UI', Tahoma, Arial, Verdana, sans-serif; line-height: 21px; text-align: justify;" />
<span style="color: rgb(102, 102, 102); font-family: 'Microsoft YaHei', 'Segoe UI', Tahoma, Arial, Verdana, sans-serif; line-height: 21px; text-align: justify;">电子邮件：lixiang@bupt.edu.cn</span><br style="color: rgb(102, 102, 102); font-family: 'Microsoft YaHei', 'Segoe UI', Tahoma, Arial, Verdana, sans-serif; line-height: 21px; text-align: justify;" />
<span style="color: rgb(102, 102, 102); font-family: 'Microsoft YaHei', 'Segoe UI', Tahoma, Arial, Verdana, sans-serif; line-height: 21px; text-align: justify;">地址：北京市海淀区西土城路10号北京邮电大学新科研楼</span><br style="color: rgb(102, 102, 102); font-family: 'Microsoft YaHei', 'Segoe UI', Tahoma, Arial, Verdana, sans-serif; line-height: 21px; text-align: justify;" />
<span style="color: rgb(102, 102, 102); font-family: 'Microsoft YaHei', 'Segoe UI', Tahoma, Arial, Verdana, sans-serif; line-height: 21px; text-align: justify;">邮编：100876 </span><br style="color: rgb(102, 102, 102); font-family: 'Microsoft YaHei', 'Segoe UI', Tahoma, Arial, Verdana, sans-serif; line-height: 21px; text-align: justify;" />
<span style="color: rgb(102, 102, 102); font-family: 'Microsoft YaHei', 'Segoe UI', Tahoma, Arial, Verdana, sans-serif; line-height: 21px; text-align: justify;">网址：http://10.109.32.5:5000/
</font>
		</div>
		<div id="case_footer"></div>
	</article>
</section>

<footer>

  <div id="footerlink">
			<nav class="wrapper">
				<!-- <a href="index.htm" >首页</a> -->
			</nav>
		</div>
  <div id="footerinfo">
    <div class="wrapper">
				<h2>联系我们<strong>Contact</strong></h2>
				<p>

					&nbsp;&nbsp;&nbsp;&nbsp;电话：010-62282264<br/>                                       
                                        &nbsp;&nbsp;&nbsp;&nbsp;电子邮件：lixiang@bupt.edu.cn<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;公司地址：北京市海淀区西土城路10号北京邮电大学新科研楼<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;Copyright © 2016 - 2017 zhanghao All rights reserved. 
				</p>
				<img src="css/images/map.gif" id="homemap" width="258" height="190" alt="公司位置" />
			</div>
  </div>
</footer>
</body>
</html>
