{% extends 'base.html' %}
{% block content %}
<div class="container">
    

    <h1>Transaction
        <small>交易详情</small>
    </h1>

    <div id="tx-248847500" class="txdiv">
		<table class="table table-striped" cellpadding="0" cellspacing="0" style="padding:0px;float:left;margin:0px;width:100%">
			<tbody>
				<tr>
					<th colspan="3" align="left"><a class="hash-link" href="/tx?tx_id={{ tx.tx_hash}}">{{ tx.tx_hash}}</a> <span class="pull-right"></span>
					</th>
				</tr>
				<tr>
					<td width="500px" class="txtd hidden-phone">
						{% for input in tx.tx_inputs %}
						<a href="/address?addr={{ input }}">{{ input }}</a> <br>
						{% endfor %}
					</td>
					<td width="48px" class="hidden-phone" style="padding:4px;text-align:center;vertical-align:middle;"><img src="/static/img/arrow_right_green.png"></td>
					<td class="txtd">
						{% for output in tx.tx_outputs%}
						<a href="/address?addr={{ output[0] }}">{{ output[0] }}</a> - (<a href="/tx-index/248891147" style="color:red">Spent</a>) <span class="pull-right hidden-phone"><span data-c="129654925" data-time="1494335190000">{{ output[1] }} CFC</span></span><br>
						{% endfor %}
					</td>
				</tr>
			</tbody>
		</table>
		<div style="padding-bottom:30px;width:100%;text-align:right;clear:both">
			<!-- <button class="btn btn-primary">5 Confirmations</button> -->
			<button class="btn btn-success cb"><span data-c="129734925" data-time="1494335190000">Fee {{ tx.fee }} CFC</span></button>
		</div>
	</div>

    <div class="row-fluid">
      <div class="col-md-6 col-sm-6">
          <table class="table table-striped">
              <tbody><tr>
                  <th colspan="2">摘要</th>
              </tr>
              <tr>
                  <td>字节数</td>
                  <td>{{ tx.size }} (bytes)</td>
              </tr>

              
                  <tr>
                      <td>确认时间</td>
                      <td>
                          {{ tx.time }}
                      </td>
                  </tr>
              

              
                  <tr>
                      <td>锁定时间</td>
                      <td>
                          {{ tx.lock_time }}
                              
                              
                          
                      </td>
                  </tr>
              

              
                  
                      
                          
                              <tr>
                                  <td>收入区块</td>
                                  <td>
                                      
                                          <a href="/block?id={{ tx.block_hash }}">{{ tx.block_hash }}</a>
                                      
                                  </td>
                              </tr>
							  <tr>
                                  <td>交易类型</td>
                                  <td>
                                          tx.tx_type 
                                      
                                  </td>
                              </tr>
 
          </tbody></table>
      </div>

      
        <div class="col-md-6 col-sm-6">
          <table class="table table-striped">
              <tbody><tr>
                  <th colspan="2">输入和输出</th>
              </tr>
              <tr>
                  <td>输入</td>
                  <td>
                      <span data-c="129739405" data-time="1494335190000">{{ tx.in_amount }} CFC</span>
                  </td>
              </tr>
              <tr>
                  <td>输出</td>
                  <td>
                      <span data-c="129734925" data-time="1494335190000">{{ tx.total_coin }} CFC</span>
                  </td>
              </tr>
              <tr>
                  <td>矿工手续费</td>
                  <td>
                      <span data-c="4480" data-time="1494335190000">{{ tx.fee }} CFC</span>
                  </td>
              </tr>
              <tr>
                  <td>每字节手续费</td>
                  <td>
                      {{ tx.fee_per_byte }} sat/B
                  </td>
              </tr>
              

              
          </tbody></table>
        </div>
      
    </div>

    

    


    
        

        
            <div style="width: 100%; padding-top: 20px; overflow-x: auto;">
                <h2>输入脚本</h2>
                <table class="table table-striped" style="margin-top: 10px;" cellpadding="2px">
                    <tbody>
						{% for in_script in tx.scripts %}
						<tr>
                            <td width="100%">{{ in_script }}</td>
                            <td>
                                <font color="green">OK</font>
                            </td>
                        </tr>
						{% endfor %}
                            
                        
                    
                </tbody></table>
            </div>
        

        
            <div style="width: 100%; padding-top: 20px; overflow-x: auto;">
                <h2>输出脚本</h2>
                <table class="table table-striped" style="margin-top:10px;" cellpadding="2px">
                    <tbody>
						{% for out_script in tx.out_scripts%}
						<tr>
                            <td width="100%">{{ out_script}} <br></td>
                            <td><font color="green">OK</font></td>
                        </tr>
                        {% endfor %}
                            
                        
                    
                </tbody></table>
            </div>
        
    
</div>

{% endblock %}